<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SwagLabs Full Suite" parallel="false">

    <test name="Regression Tests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.ProductsTest"/>
            <class name="tests.CartTest"/>
            <class name="tests.OrderTest"/>
            <class name="tests.CheckoutTest"/>
            <class name="tests.FullJourneyTest"/>
            <class name="tests.LogoutTest"/>
        </classes>
    </test>

</suite>
